.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
.snakemake
.cache
.nv
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
star_solo/*
cellranger/*
cellbender/*
cellbender_velocyto/*
scrublet/*
fastq/*
*.sif
*.h5Seurat
*.h5ad
*.tar
*.gz
